
@{
    ViewBag.Title = "Relaciones";
    Layout = "~/Views/Administrador/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DriveEase-Administardor</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>


    <div class="form-group row" style="margin-left: 18px;">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <label>Es de uno a muchos:</label>
            <select name="nulo" id="muchosMuchos" class="form-control form-control-user" read onchange="verInput()">
                <option value=false>No</option>
                <option value=true>Sí</option>
            </select>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0" id="tablaIntermedia" hidden>
            <label>Nombre de la tabla</label>
            <input type="text" class="form-control form-control-user" id="espeDato">
        </div>
        <div class="col-sm-3" id="addBotton" style="margin-top: 30px;">
            <a class="btn btn-primary btn-user btn-block" onclick="agregarCampos()">
                Agregar
            </a>
        </div>
    </div>
    <div class="form-group row" style="margin-left: 18px;">
        <div class="col-sm-5 mb-3 mb-sm-0">
            <label>Tabla 1:</label>
            <select id="listaTablas1" class="form-control form-control-user" onchange="listaCampos1()"></select>
        </div>
        <div class="col-sm-5">
            <label>Campo 1:</label>
            <select id="listaCampos1" class="form-control form-control-user"></select>
        </div>
    </div>
    <div class="form-group row" style="margin-left: 18px;">
        <div class="col-sm-5 mb-3 mb-sm-0">
            <label>Tabla 2:</label>
            <select id="listaTablas2" class="form-control form-control-user" onchange="listaCampos2()"></select>
        </div>
        <div class="col-sm-5">
            <label>Campo 2:</label>
            <select id="listaCampos2" class="form-control form-control-user"></select>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                <h6 class="m-0 font-weight-bold text-primary">Listado de campos por tabla</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre Relación</th>
                                <th>Tabla 1</th>
                                <th>Campo 1</th>
                                <th>Tabla 2</th>
                                <th>Campo 2</th>
                                <th>Eliminar relación</th>
                            </tr>
                        </thead>
                        <tbody id="detalleTabla"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">¿Está seguro de realizar la acción?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="msjModalConfirm">
                    <!-- El mensaje de error irá aquí -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnElimar" onclick="eliminarRelacion()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/App/Relaciones.js" asp-append-version="true"></script>
    <script type="text/javascript">
        cargarListas();
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Theme/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>
</body>
</html>



